.notification{
    position: fixed;
    top: 12%;
    left: -10px;
    right: -10px;
    margin: auto;
    width: 90%;
    max-width: 450px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    animation: notif-show 0.3s ease-in 0s 1 forwards, notif-hide 0.3s ease-out 2.7s 1 forwards;
    z-index: 200;

}
.notification.success{
    background: #efe;
    border: 2px solid green;
    color: green;
}

.notification.error{
    background: #fee;
    border: 2px solid crimson;
    color: crimson;
}

@keyframes notif-show{
    0%{
        opacity: 0.3;
        transform: translate(0px, -30px);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes notif-hide{
    0%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate(0px, 10px);
    }
}